
h1 {
  text-align: center;
  /* display: flex; */
  position: center;
  position: relative;
  /* left: 50%; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  position: center;
  position: relative;  
    width: 400px; 
    height: 200px;
    /* margin: 0 auto;  */

    /* background-color: rgb(rgb(155, 113, 79), green, blue) */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center; */
  }

#timer {
 
  /* margin: auto;
  width: 25%;
  border: 3px solid rgb(94, 96, 5);
  padding: 10px;
  font-size: 30px;
  font-family: verdana; */
  /* display: flex; */
  position: center;
  margin: 20px auto;
  height: 75px;
  width: 50%;
  border-radius: 10%;
  position: absolute;
  /* left: 40%; */
  left: 25%;
  bottom: 30%;

  background-color: rgb(228, 219, 190);
  /* border: 10px solid #5c1616; */
  /* box-shadow: 4px 4px 4px #999; */
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  /* color: white; */
  line-height: 5px;
  /* text-color: black; */
}

#reset {
  
  margin: auto;
  width: 25%;
  /* border: 3px solid rgb(94, 96, 5); */
  padding: 10px;
  font-size: 15px;
  font-family: verdana;
  position: absolute;
  right: 20%;
  bottom: 5%;

  /* left: 75%; */
}

#pause {
  margin: auto;
  width: 25%;
  /* border: 3px solid rgb(94, 96, 5); */
  padding: 10px;
  font-size: 15px;
  font-family: verdana;
  position: absolute;
  left: 20%;
  bottom: 5%;
  

  /* margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 8rem;
  border-style:solid;
  /* border-color: #287EC7; */
  /* padding: 10px;  */ 
}


  